input{
    height: 30px;
    width: 35%;
    font-size: 18px;
}
button{
    height: 30px;
    width: 15%;
    font-size: 20px;
}

.log{
    padding: 250px;
}
.mail{
    padding: 15px;
}
.navbar{
    margin-bottom: 0%;
}